*{
    margin: 0;
    padding: 0;
    color: #000;
}
div.nav{
    background: #ccc
}
a {
    padding: 20px 5px;
    display: inline-block;
    text-decoration: none;
}
div a.logo{
    font-size: 120%
}
span{
        font-size: 220%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}