*{
    margin: 0;
    padding: 0;
    color: #000;
}
div.nav{
    background: #ccc
}
a {
    padding: 20px 5px;
    display: inline-block;
    text-decoration: none;
}
div a.logo{
    font-size: 120%
}

ul li{
    list-style-type: none;
}