{% extends 'base.html'%}
{% block title %}
个人博客首页
{% endblock %}
{% block content%}
     <ul>
        {% for blog in blogs%}
        <li>
            <h3><a href="{% url 'blog:blog_details' blog.pk %}">{{blog.title}}</a></h3> 
            <h4>{{blog.author}}&nbsp;&nbsp;{{blog.created_time|date:'Y-m-d H:i:s'}}</h4>
            <hr>
            <p>{{blog.content|truncatechars:30}}</p>
            <p>分类：<a href="{% url 'blog:blog_type' blog.blog_type.id %}">{{blog.blog_type}}</a></p>

        </li>
        {% empty %}
        <p>还没有发布文章</p>
        {% endfor %}
        <p>共有文章{{blogs|length}}篇</p>
    </ul>
{% endblock %}
<!-- <!DOCTYPE html>
<html>
<head>
    <title>个人博客首页</title>
</head>
<body>
    <ul>
        {% for blog in blogs%}
        <li>
            <h3><a href="{% url 'blog:blog_details' blog.pk %}">{{blog.title}}</a></h3> 
            <h4>{{blog.author}}&nbsp;&nbsp;{{blog.created_time|date:'Y-m-d H:i:s'}}</h4>
            <hr>
            <p>{{blog.content|truncatechars:30}}</p>
            <p>分类：<a href="{% url 'blog:blog_type' blog.blog_type.id %}">{{blog.blog_type}}</a></p>

        </li>
        {% empty %}
        <p>还没有发布文章</p>
        {% endfor %}
        <p>共有文章{{blogs|length}}篇</p>
    </ul>
</body>
</html> -->