{% extends 'base.html'%}
{% block title %}
个人博客首页
{% endblock %}
{% block content%}
<div class="container">
   <div class="row">
      <div class="col-xs-10">
          
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    博客列表 
                    (共有文章{{blogs.paginator.count}}篇)
                </h3>
            </div>
            <div class="panel-body">
                <ul>
                {% for blog in blogs.object_list%}
                <li>
                    <h4><a href="{% url 'blog:blog_details' blog.pk %}">{{blog.title}}</a></h4> 
                    <h5>{{blog.author}}&nbsp;&nbsp;{{blog.created_time|date:'Y-m-d H:i:s'}}</h5>
                    <hr>
                    <p>{{blog.content|truncatechars:30}}</p>
                    <p>分类：<a href="{% url 'blog:blog_type' blog.blog_type.id %}">{{blog.blog_type}}</a></p>

                </li>
                {% empty %}
                <p>还没有发布文章</p>
                {% endfor %}
                        
                </ul>
            </div>
      {# 分页开始#}
        <nav aria-label="Page navigation" class='text-center'>
          <ul class="pagination">
            {# 判断是否有下一页#}
            {% if blogs.has_previous %}
            <li>
                {#跳转到下一页#}
              <a href="?page={{blogs.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %}
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            {# 遍历页码#}
            {% for num in page_range %}
                    {% if num == current %}
                    <li class='active'><span>{{num}}</span></li>
                    {% else %}
                        {% if num == '...'%}
                        <li><span>{{num}}</span></li>
                        {% else%}
                        <li><a href="?page={{num}}">{{num}}</a></li>
                        {% endif %}
                    {% endif %}
            {% endfor %}
             {# 判断是否有上一页#}
            {% if blogs.has_next %}
            <li>
                {#跳转到下一页#}
              <a href="?page={{blogs.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% else %}
            <li class="disabled">
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif%}
          </ul>
        </nav>
      </div>
        
   </div>
  
</div>
  </div>

    
{% endblock %}
{% block active_shouye1 %}active{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
    <title>个人博客首页</title>
</head>
<body>
    <ul>
        {% for blog in blogs%}
        <li>
            <h3><a href="{% url 'blog:blog_details' blog.pk %}">{{blog.title}}</a></h3> 
            <h4>{{blog.author}}&nbsp;&nbsp;{{blog.created_time|date:'Y-m-d H:i:s'}}</h4>
            <hr>
            <p>{{blog.content|truncatechars:30}}</p>
            <p>分类：<a href="{% url 'blog:blog_type' blog.blog_type.id %}">{{blog.blog_type}}</a></p>

        </li>
        {% empty %}
        <p>还没有发布文章</p>
        {% endfor %}
        <p>共有文章{{blogs|length}}篇</p>
    </ul>
</body>
</html> -->